:root {
    --primary-color: #189A46;
    --heading-color: #ffffff;
    --bg-color: #ffffff;
    --text-color: #696969;
    --para-color: #696969;
    --head-color: #000c04;
    --subhead-color: #e60000;
    --bg-light: rgba(147, 107, 232, 0.05);
}

[data-theme="dark"] {
    --bg-light: #222;
    --bg-color: #151515;
    --text-color: #afafaf;
    --heading-color: #ddd;
    --head-color: #ddd;
}

/* common */
html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {    
    background-color: var(--bg-color);    
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--text-color);
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1200px;
}

.bg_light {
    background-color: var(--bg-light);
}

a {
    transition: .5s all;
}

p {
    font-size: 1.2em;
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
}

.sp {
    display: none;
}

.sec_subtitle {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;    
    color: var(--subhead-color);
}

.sec_title {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
    color: var(--head-color);
}

a.readmore {
    font-size: 17px;
    padding: 0;
    border-bottom: 2px solid var(--primary-color);
    color: var(--head-color);
    transition: 0.3s ease-in-out;
    font-weight: 600;
    border-radius: 0;
    margin-top: 20px;
    display: inline-block;
    text-transform: capitalize;
}

a.readmore:hover{
    color: var(--primary-color);
}

/* header */
#header {
    background-color: var(--bg-color);
    height: 90px;
    border-bottom: 0 0 0 0 #fff;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
    position: fixed;
    width: 100%;    
    z-index: 9999;
    transition: .5s all;
    top: 0;
    left: 0;
}

#header.fixed {
    height: 70px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
}

#header .navbar {
    height: 100%;
}

#header .navbar .navbar-brand {
    color: var(--primary-color);
    font-size: 2.125em;
    font-weight: 600;
    text-transform: capitalize;
}

#header .navbar .navbar-brand:hover {
    opacity: .5;
}

#header .navbar .nav-item {
    margin: 0 10px;
}

#header .navbar .nav-item.search {
    margin-left: 30px;
}

#header .navbar .nav-item .dropdown-toggle:after {
    position: absolute;
    font-family: 'FontAwesome';
    content: "\f107";
    color: #999;
    font-size: 14px;
    margin: 0;
    border: none;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}

#header .navbar .nav-item .nav-link,
#header .navbar .nav-item .dropdown-item {
    text-transform: capitalize;    
    font-size: 1.2em;
    font-weight: 500;
    position: relative;
    color: var(--head-color);
}

#header .navbar .nav-item .dropdown-item {
    padding: 0;
}

#header .dropdown-menu li {
    padding: 5px 15px;
}

#header .dropdown-menu[data-bs-popper] {
    top: 120%;
}

#header .navbar .nav-item .nav-link:before,
#header .navbar .nav-item .dropdown-item:before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    left: 0;
    bottom: 0;
    background-color: var(--primary-color);
    transition: .5s all;
}

#header .navbar .nav-item .nav-link:hover,
#header .navbar .nav-item .dropdown-item:hover,
#header .navbar .dropdown-toggle:hover i {
    color: var(--primary-color);
    background-color: transparent;
}

#header .navbar .nav-item .nav-link:hover:before,
#header .navbar .nav-item .dropdown-item:hover:before {
    width: 100%;
}

#header .navbar .nav-item .nav-link.active {
    color: var(--primary-color);
}

#header .navbar .extend {
    margin-left: 25px;
}

#header .navbar .extend .search {
    background: rgba(147, 107, 232, 0.05);
    font-size: 1em;    
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    padding: 0;
    text-align: center;
    color: var(--primary-color);
    display: inline-block;
    border: none;
    transition: .5s all;
    margin-right: 15px;
}

#header .navbar .extend .search:hover {
    background-color: var(--primary-color);
    color: var(--heading-color);
    cursor: pointer;
}

#header .navbar .extend .theme-toggle:hover {
    cursor: pointer;
}

#header .dropdown-menu[data-bs-popper] {
    background-color: var(--bg-color);
}

.extend .theme-toggle {
    color: var(--head-color);
}

/* breadcrumb */
#breadcrumb {
    height: 240px;
    background: url(./../img/common/breadcrumb.jpg) no-repeat center / 100%;    
}

#breadcrumb:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #0c0c0c;
    opacity: .6;
}

.breadcrumb_content h2 {
    font-size: 3.125em;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.breadcrumb_content ul li {
    display: inline-block;
    font-size: 1.125em;
    text-transform: capitalize;
    position: relative;
}

.breadcrumb_content ul li:not(:last-child)::after {
    content: "»";
    padding: 0 10px;
}

.breadcrumb_content ul li a {
    color: var(--primary-color);
}

.breadcrumb_content ul li a:hover {
    opacity: .5;
}

/* main */
#main {    
    margin-top: 90px;
}


/* footer */
#footer {
    background-color: #111;
}

.footer_content {    
    color: var(--para-color);
    font-weight: normal;
    font-size: 1em;    
    line-height: 28px;
}

.footer_content h3 {
    color: #fff;
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    margin-bottom: 25px;
}

.footer_content ul li:not(:last-child) {
    margin-bottom: 8px;
}

.footer_content ul li a:hover {
    opacity: .6;
}

.footer_content ul.social {
    margin-top: 15px;
}

.footer_content ul.social li {
    display: inline-block;
    margin-right: 15px;
}

.footer_content ul.social li a:hover {
    opacity: 1;
    color: white;
}

#footer .copyright {
    border-top: 1px solid rgba(103, 99, 99, 0.14);
    color: var(--para-color);
}

#footer .copyright a {
    color: var(--subhead-color);
    opacity: .8;
}

#footer .copyright a:hover {
    opacity: .5;
}

/* slides */
#slides {
    margin-bottom: -5px;
}

#slides .slider_content {
    position: relative;
}

#slides .slider_content:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 50%);
}

#slides .slider_content img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
}

#slides .slider_content .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#slides .slider .slider_content .detail {
    position: absolute;
    top: 50%;    
    transform: translateY(-50%);
}

#slides .slider .slider_content .detail.center {
    left: 45%;    
}

.slider_content .detail h2 {
    font-size: 66px;
    line-height: 76px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
}
.slider_content .detail p {
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 30px;
    opacity: 0.9;
}

.slider_content .detail .buttons {    
    display: flex;    
}

.slider_content .detail .buttons a {
    color: white;
    border: 2px solid #fff;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    padding: 10px 35px;
    text-transform: capitalize;
    margin-right: 15px;
    line-height: 28px;
}

.slider_content .detail .buttons a.active,
.slider_content .detail .buttons a:hover {
    background-color: white;
    color: #189A46;
}

#slides .slider .slick-dots {
    bottom: 50px;
}

#slides .slider .slick-dots li {
    width: 25px;
}

#slides .slider .slick-dots li button:before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 0;    
    opacity: 1;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 100%;
}

#slides .slider .slick-dots li button:hover:before {
    background-color: #189A46;
    width: 30px;
    border-radius: 25px;
}

#slides .slider .slick-dots li.slick-active button:before {
    background-color: #189A46;
    width: 30px;
    border-radius: 25px;
}

#slides .slider.slick-dotted.slick-slider {
    margin-bottom: 0;
}

/* about */
#about .about_content {
    max-width: 700px;
    margin: 0 auto;
}

/* services */
.services_content .services_item {
    background-color: var(--bg-color);
    transition: .5s all;
}

.services_content .services_item:hover {
    background-color: var(--bg-light);
    
}

.services_item i {
    color: var(--primary-color);
    font-size: 2em;
}

.services_item h4 {
    color: var(--head-color);    
}

.services_item h4:hover {
    color: var(--primary-color);
}

/* offer */
.offer_content .image img {
    width: 100%;
}

.offer_content .content p {
    font-size: 1em;
}

.offer_content .content ul li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.offer_content .content ul li:before {
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 10px;
    color: var(--primary-color);
    display: inline-block;
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    border-radius: 100%;
    background-color: var(--bg-light);
    margin-right: 10px;
}

/* number */
#number {
    background-color: var(--primary-color);
}

.number_item .count_num {
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
    color: #fff;
}

.number_item span {
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    color: #fff;
    margin-top: 10px;
    opacity: 0.8;
    font-weight: 400;
    display: block;
}

/* packages */
.packages_title .sec_subtitle {
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
}



/************************* RESPONSIVE *************************/

@media screen and (max-width: 1200px) {
    .slider_content .detail h2 {
        font-size: 52px;
        line-height: 62px;
    }

    .slider_content .detail p {
        font-size: 15px;
    }

    .sec_title {
        font-size: 35px;
        line-height: 40px;
    }

    .packages_title .sec_title {
        font-size: 35px;
        line-height: 40px;
    }
}

@media screen and (max-width: 992px) {
    #header {
        height: auto !important;
    }

    #header .collapse.show .nav-item {
        margin-top: 15px;
    }

    #header .navbar .nav-item .nav-link:before {
        display: none;
    }

    #header .navbar .nav-item.theme-toggle {
        display: none;
    }

    .sp {
        display: block;
    }

    .pc {
        display: none;
    }

    #header .navbar .navbar-brand {
        margin-right: auto;
        font-size: 1.875em;
    }

    #header .extend.sp {
        margin-left: 0;
        margin-right: 20px;
        font-size: 1.5em;
    }

    #header .navbar-toggler {
        background-color: var(--primary-color);
        color: var(--heading-color);
        border: none;
        padding: 8px 10px;
    }

    #header .extend.submenu {
        padding-top: 50px;
        padding-bottom: 20px;
        margin: 0;
        text-align: left;
    }

    #header .dropdown-menu[data-bs-popper] {
        padding-top: 15px;
    }

    #header .dropdown-menu li {
        padding: 0 15px 15px;
        text-align: center;
    }

    #main {
        margin-top: 60px;
    }

    .number_item .count_num {
        font-size: 40px;
        line-height: 50px;
    }

    .number_item span {
        font-size: 18px;
    }
}


@media screen and (max-width: 576px) {
    #breadcrumb {
        height: 175px;
    }

    .breadcrumb_content h2 {
        font-size: 2.125em;
        margin-bottom: 15px;
    }

    .pc {
        display: none;
    }

    .relation_link {
        margin-top: 30px;
    }

    #slides .slider_content img {
        height: 45vh;
    }

    .slider_content .detail h2 {
        font-size: 32px;
        line-height: 42px;
    }

    .slider_content .detail p {
        font-size: 16px;
    }

    #slides .slider .slider_content .detail.center {
        left: inherit;
    }

    .sec_title {
        font-size: 32px;
        line-height: 38px;
    }

    .number_item .count_num {
        font-size: 35px;
        line-height: 38px;
        margin-top: 20px;
    }
    .number_item span {
        font-size: 17px;
    }
}