/* Service */
#services_1 .image img {
  width: 100%;
}

.services_content .content p {
  font-size: 1em;
}

.services_content .content ul li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.services_content .content ul li:before {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 10px;
  color: var(--primary-color);
  display: inline-block;
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  border-radius: 100%;
  background-color: var(--bg-light);
  margin-right: 10px;
}

.border_bottom {
  border-bottom: 1px solid var(--border-light);
}

#services img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Gallery  */
.gallery_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery_content a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.link_img:before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  transform: skewX(-25deg);
  transition: all 0.75s;
}

.link_img:hover:before {
  left: 125%;
}

.lb-data .lb-close {
  background: url(./../img/common/close.png) top right no-repeat;
}

.lb-data {
  margin-top: 20px;
}
.lb-data .lb-details {
  font-size: 18px;
}
.lb-data .lb-number {
  color: var(--subhead-color);
  margin-top: 20px;
  font-size: 14px;
}

.lb-data .lb-caption {
  font-size: 14px;
}