/* Service */
#services_1 .image img {
  width: 100%;
}

.services_content .content p {
  font-size: 1em;
}

.services_content .content ul li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.services_content .content ul li:before {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 10px;
  color: var(--primary-color);
  display: inline-block;
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  border-radius: 100%;
  background-color: var(--bg-light);
  margin-right: 10px;
}

/* Gallery  */
.item {
  position: relative;
  overflow: hidden;
}
.item::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: all 0.75s;
}

.item:hover::before {
  left: 125%;
}
.close {
  float: right;
  opacity: 0.5;
  text-align: right;
  outline: none;
}
.close:hover {
  opacity: 1;
}

.danger {
  color: red;
}

/* Reponsive  */
@media screen and (max-width: 1200px) {
  #gallery .gallery_content {
    text-align: center;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  #gallery .gallery_content {
    text-align: center;
    margin-bottom: 40px;
  }
  #gallery .gallery_content {
    text-align: center;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 480px) {
  #gallery .gallery_content {
    text-align: center;
    margin-bottom: 40px;
  }
  #gallery .col_galley .col-sm {
    margin-bottom: 40px;
  }
}
